/* Settings */
$background: #ffffff;
$chat-box-background: #ECEFF1;
$chat-header-background: #3d3d3d;
$chat-header-border: #35ac19;
$form-background: #ffffff;
$font-stack: 'Roboto', 'sans-serif';
$font-normal: '400';
$font-bold: '500';
$text-color: #8a8a8a;

/* General CSS */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  background-color: $background;
  color: $text-color;
}

h1,
h2,
h3 {
  font-weight: $font-bold;
}

#chat-box {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  background-color: $chat-box-background;
  border-radius: 3px;
  color: #292929;
  margin: 50px auto;
  max-width: 350px;
  font-size: 0.8em;

  h1 {
    background-color: $chat-header-background;
    border-bottom: 2px solid $chat-header-border;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    font-size: 1em;
    margin: 0;
    padding: 5px 0;
    text-align: center;
  }

  #messages {
    padding: 5px;

    & > div {
      margin: 5px 0;
    }

    p {
      display: inline-block;
      padding: 5px 10px;
      margin: 0;
    }

    .message {

      p {
        background-color: #ffffff;
        border-radius: 3px;
      }
    }

    .notification {
      position: relative;
      text-align: center;

      p {
        background-color: $chat-box-background;
        position: relative;
        z-index: 1;
      }

      &:after {
        border-top: 1px solid $text-color;
        content: '';
        display: block;
        position: absolute;
        top: 13px;
        width: 100%;
      }
    }
  }

  #form {
    background: $form-background;

    input[type="text"] {
      border: 0;
      display: block;
      width: 100%;
      padding: 10px;
    }

    input[type="submit"] {
      display: none;
    }
  }
}
